@model EzCMS.Core.Models.Users.Logins.ForgotPasswordModel

@{
    Layout = "~/Areas/Admin/Views/Account/_Layout.Account.cshtml";
    ViewBag.Header = T("Account_Site_Header");
    ViewBag.Title = T("Account_Site_ForgotPasswordTitle");
    ViewBag.Description = T("Account_Site_ForgotPasswordDescription");
}

@using (Ajax.BeginForm("ForgotPassword", "Account", null, new AjaxOptions
{
    OnBegin = "siteHelper.showLoading",
    OnComplete = "siteHelper.hideLoading",
    OnSuccess = "OnForgotPasswordSuccess"
}, new { id = "forgot-form" }))
{
    if (!Model.EnableTemplate)
    {
        <div id="forgot-box" class="forgot-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header red lighter bigger">
                        <i class="fa fa-key"></i>
                        @T("Account_Text_ForgotPasswordRetrievePassword")
                    </h4>

                    <div class="space-6"></div>
                    <p>
                        @T("Account_Text_ForgotPasswordEnterUsernameToReceive")
                    </p>
                    <fieldset>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                <i class="ace-icon fa fa-envelope"></i>
                            </span>
                            @Html.ValidationMessageFor(m => m.Username)
                        </label>

                        <div class="clearfix">
                            <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                <i class="fa fa-lightbulb-o"></i>
                                @T("Account_Text_ForgotPasswordSendPassword")
                            </button>
                        </div>
                    </fieldset>
                </div>

                <div class="toolbar center">
                    <a href="@Url.Action("Login")" class="back-to-login-link">
                        Back to login
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        @section scripts
        {
            <script type="text/javascript">
                function OnForgotPasswordSuccess(response) {
                    if (response.Success) {
                        location.href = "@Url.Action("ForgotPasswordSuccess")";
                    }
                    siteHelper.showMessage(response);
                }
            </script>
        }
    }
    else
    {
        @RenderTemplate(Model.TemplateName, Model.Template, Model)
    }
}

