@model EzCMS.Core.Models.Users.UserDetailModel

@{
    ViewBag.Header = T("User_Site_Header");
    ViewBag.Title = T("User_Site_DetailsTitle");
    ViewBag.Description = T("User_Site_DetailsDescription");
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/jqGrid/css/ui.jqgrid.min.css")" />
    <style type="text/css">
        #mapCanvas {
            height: 300px;
        }
    </style>

}

<div class="page-header">
    <h1 class="pull-left">
        @ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title
        </small>
    </h1>
    <div class="space-8 col-xs-12 visible-xs"></div>
    <div id="top-buttons" class="col-xs-12 align-right">
        <a class="btn btn-xs btn-danger" href="javascript:deleteUser()">@T("System_Text_Delete")</a>
        <a class="btn btn-xs btn-primary" href="@Url.Action("Edit", new { id = Model.Id, returnUrl = Url.Action("Details", new { id = Model.Id})})">
            @T("System_Text_Edit")
        </a>
    </div>
</div>

<div class="row">
    @ShowStatusMessage()
    <div class="col-xs-12">
        <div class="form-horizontal">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <div class="col-sm-5 control-label align-right"></div>
                    <div class="col-sm-7 control-value">
                        @Html.Image(Model.User.AvatarPath, "", new { @class = "img-responsive" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.User.FullName, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.User.FirstName)
                        &nbsp;
                        @Html.EditableFor(m => m.User.LastName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.User.Username, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.DisplayFor(m => m.User.Username)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.User.Email, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.DisplayFor(m => m.User.Email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.UserGroups, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Model.UserGroups
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.User.Facebook, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.User.Facebook, CommonEnums.EditableType.Url)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.User.Twitter, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.User.Twitter, CommonEnums.EditableType.Url)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.User.LinkedIn, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.User.LinkedIn, CommonEnums.EditableType.Url)
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.User.Phone, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.User.Phone)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.LastLoginHours, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Model.LastLoginHours.ToString("0") hours ago
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.Join, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Model.Join.ToLongDateString()
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.User.Address, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.Action("ShowMap", "Home", new { FullAddress = @Model.User.Address })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.User.About, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.User.About, CommonEnums.EditableType.TextArea)
                    </div>
                </div>
            </div>
            <div class="space-12 clear"></div>

            <div class="widget-box transparent collapsed">
                <div class="widget-header">
                    <h4 class="widget-title lighter">@T("User_Text_RecordInformation")</h4>
                    <div class="widget-toolbar no-border">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-12 no-padding-left no-padding-right">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelTimeFor(m => m.User.Created, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayTimeFor(m => m.User.Created)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.User.CreatedBy, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Model.User.CreatedBy
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelTimeFor(m => m.User.LastUpdate, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayTimeFor(m => m.User.LastUpdate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.User.LastUpdateBy, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Model.User.LastUpdateBy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-12 clear"></div>
            <div class="row">
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-12 tab-color-blue background-grey">
                        <li class="active">
                            <a data-toggle="tab" href="#contacts">
                                @T("User_Text_TabContacts") (<span id="tab-contact" class="tab-button"></span>)
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#user-groups">
                                @T("User_Text_TabUserGroups") (<span id="tab-user-group" class="tab-button"></span>)
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#user-login-histories">
                                @T("User_Text_TabLoginHistories") (<span id="tab-user-login-history" class="tab-button"></span>)
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="contacts" class="tab-pane active">
                            @Html.Partial("Details/_Contacts", Model.Id)
                        </div>
                        <div id="user-groups" class="tab-pane">
                            @Html.Partial("Details/_UserGroups", Model.Id)
                        </div>
                        <div id="user-login-histories" class="tab-pane">
                            @Html.Partial("Details/_UserLoginHistories", Model.Id)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/js/jqgrid")

    <script type="text/javascript">
        var updateUrl = "@Url.Action("UpdateUserData")";
        var pk = '@Model.User.Id';
        
        siteHelper.updateSelectedTab();

        $(function () {
            if (siteHelper.getUrlParam("action") == "delete") {
                deleteUser();
            }
        });

        // Delete user
        function deleteUser() {
            var returnUrl = siteHelper.getUrlParam("returnUrl");
            var data = { id: @Model.Id };

            siteHelper.confirm('@T("User_Message_DeleteConfirm")', function (ok) {
                if (ok) {
                    siteHelper.httpPost({
                        url: "@Url.Action("DeleteUser")",
                        data: data,
                        success: function (response) {
                            if (response.Success) {
                                bootbox.alert(response.Message, function () {
                                    if (returnUrl != "")
                                        window.location.href = returnUrl;
                                    else
                                        window.location.href = "@Url.Action("Index")";
                                });
                            } else {
                                siteHelper.showMessage(response);
                            }
                        }
                    });
                }
            });
        }
    </script>
}
