@model int

<div id="grid-buttons" class="col-xs-12">
    @Html.Partial("Partials/_ExportButtonsExcludeExportAll", "AnonymousContact")
</div>
<div class="col-xs-12">
    <table id="anonymous-contact-grid-table"></table>
    <div id="anonymous-contact-grid-pager"></div>
</div>
<div class="clear"></div>

<script type="text/javascript">
    /*
     * Setup grid
     */
    var $dirty = false;
    var anonymousContactGrid = "#anonymous-contact-grid-table";
    var anonymousContactGridPager = "#anonymous-contact-grid-pager";
    var anonymousContactTab = "#anonymous-contacts";
    var anonymousContactGridSettings = $.parseJSON('@Html.Action("GetGridSettings", "Account", new { name = "Anonymous Contact" })');
    var anonymousContactExportUrl = "@Url.Action("Exports", "AnonymousContacts", new { contactId = Model })";

    $(function() {
        var gridOptions = {
            url: "@Url.Action("_AjaxBinding", "AnonymousContacts", new { contactId = Model })",
            colNames: ['@T("AnonymousContact_Field_Id")',
                '@T("AnonymousContact_Field_CookieKey")',
                '@T("AnonymousContact_Field_FirstName")',
                '@T("AnonymousContact_Field_LastName")',
                '@T("AnonymousContact_Field_Email")',
                '@T("AnonymousContact_Field_Phone")',
                '@T("AnonymousContact_Field_Address")'],
            colModel: [
                { name: 'Id', index: 'Id', key: true, width: 60, fixed: true, align: 'center', sorttype: "int", searchoptions: { sopt: ['eq'] } },
                { name: 'CookieKey', index: 'CookieKey' },
                { name: 'FirstName', index: 'FirstName' },
                { name: 'LastName', index: 'LastName' },
                { name: 'Email', index: 'Email' },
                { name: 'Phone', index: 'Phone' },
                { name: 'Address', index: 'Address' }
            ],
            loadComplete: function(response) {
                $("#tab-anonymous-contact").data("total", response.records).html(response.records);
            }
        };

        jqGridHelper.setupTabGrid(anonymousContactGrid, anonymousContactGridPager, gridOptions, anonymousContactGridSettings, anonymousContactTab, anonymousContactExportUrl, "AnonymousContact");
    });
</script>