@model EzCMS.Core.Models.FormComponentTemplates.FormComponentTemplateManageModel

@Html.HiddenFor(m => m.Id)
<div class="form-group">
    @Html.LocalizeLabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Name, new { @class = "col-xs-10" })
        @Html.HelpTextFor(m => m.Name, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label no-padding-top">
        @Html.LocalizeLabelFor(m => m.Content)
        @Html.HelpTextFor(m => m.Content, new { @class = "help-button" })
    </div>
    <div class="col-sm-10">
        @Html.TextAreaFor(m => m.Content, new { @class = "col-xs-10 col-sm-9" })
        @Html.ValidationMessageFor(m => m.Content)
    </div>
</div>
<div class="clearfix form-actions">
    @Html.Partial("Partials/_SubmitButtons", Model.Id.HasValue)
</div>

@{
    Script.Bundle("~/js/codemirror").Block(@<script type="text/javascript">
        var Editor;
        $(function () {
            Editor = siteHelper.buildHtmlEditor("Content");
        });
    </script>);
}