@model EzCMS.Core.Models.Polls.WidgetManageModels.PollWidgetManageModel

<div class="form-group">
    @Html.LocalizeLabelFor(m => m.PollId, new { @class = "col-xs-12" })
    <div class="col-xs-12">
        @Html.DropDownListFor(m => m.PollId, Model.Polls, T("Widget_Poll_Text_SelectPoll"), new { @class = "col-xs-10 single-select curly-bracket-parameter" })
        @Html.HelpTextFor(m => m.PollId, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.PollId)
    </div>
</div>
<div class="form-group">
    @Html.LocalizeLabelFor(m => m.Template, new { @class = "col-xs-12" })
    <div class="col-xs-12">
        @Html.DropDownListFor(m => m.Template, Model.Templates, new { @class = "col-xs-10 single-select curly-bracket-parameter" })
        @Html.HelpTextFor(m => m.Template, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.Template)
    </div>
</div>