@model EzCMS.Core.Models.Subscriptions.WidgetManageModels.SubscriptionWidgetManageModel

<div class="form-group">
    @Html.LocalizeLabelFor(m => m.Module, new { @class = "col-xs-12" })
    <div class="col-xs-12">
        @Html.DropDownListFor(m => m.Module, Model.Modules, T("Widget_Subscription_Text_SelectModule"), new { @class = "col-xs-10 single-select curly-bracket-parameter" })
        @Html.HelpTextFor(m => m.Module, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.Module)
    </div>
</div>
<div class="form-group">
    @Html.LocalizeLabelFor(m => m.Template, new { @class = "col-xs-12" })
    <div class="col-xs-12">
        @Html.DropDownListFor(m => m.Template, Model.Templates, new { @class = "col-xs-10 single-select curly-bracket-parameter" })
        @Html.HelpTextFor(m => m.Template, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.Template)
    </div>
</div>