@{
    ViewBag.Header = T("EmailAccount_Site_Header");
    ViewBag.Title = T("EmailAccount_Site_ListingTitle");
    ViewBag.Description = T("EmailAccount_Site_ListingDescription");
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/jqGrid/css/ui.jqgrid.min.css")" />
}

<div class="page-header">
    <h1>
        @ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title
        </small>
    </h1>
</div>

<div class="row">
    <div id="grid-buttons" class="col-xs-12">
        @ShowStatusMessage()
        <a href="@Url.Action("Create")" class="btn btn-yellow btn-minier">
            <i class="fa fa-plus bigger-125"></i>
            @T("EmailAccount_Text_Create")
        </a>
        @Html.EmptyPartial("Partials/_ExportButtons")
    </div>
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <table id="grid-table"></table>

        <div id="grid-pager"></div>

        <!-- PAGE CONTENT ENDS -->
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/js/jqgrid")

    <script type="text/javascript">
        // Mark email account as default
        function markAsDefault(id) {
            var data = { id: id };
            siteHelper.httpPost({
                url: '@Url.Action("MarkAsDefault")',
                data: data,
                success: function (response) {
                    siteHelper.showMessage(response);
                    if (response.Success) {
                        jqGridHelper.reloadGrid(gridSelector);
                    }
                }
            });
        }

        /*
         * Setup grid
         */
        var gridSelector = "#grid-table";
        var pagerSelector = "#grid-pager";
        var navButtonsSetup = {
            enableEdit: false,
            enableCreate: false,
            enableDelete: false,
            enableSearch: true,
            enableRefresh: true,
            enableView: true
        };
        var gridSettings = $.parseJSON('@Html.Action("GetGridSettings", "Account", new { name = "Email Accounts" })');

        var gridOptions = {
            url: "@Url.Action("_AjaxBinding")",
            colNames: ['', '@T("EmailAccount_Field_Id")',
                '@T("EmailAccount_Field_Email")',
                '@T("EmailAccount_Field_DisplayName")',
                '@T("EmailAccount_Field_IsDefault")',
                '@T("EmailAccount_Field_Active")',
                '@T("EmailAccount_Field_RecordOrder")',
                '@LabelForTime(T("EmailAccount_Field_Created"))',
                '@T("EmailAccount_Field_CreatedBy")',
                '@LabelForTime(T("EmailAccount_Field_LastUpdate"))',
                '@T("EmailAccount_Field_LastUpdateBy")'],
            colModel: [
                {
                    name: 'Actions',
                    hidedlg: true,
                    width: 120,
                    fixed: true,
                    sortable: false,
                    search: false,
                    align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        var editIcon = "<a class='grid-action' href='@Url.Action("Edit")/" + options.rowId + "'><div class='ui-pg-div' title='@T("System_Text_Edit")'><span class='fa fa-edit'></span></div></a>";
                        var detailsIcon = "<a class='grid-action' href='@Url.Action("Details")/" + options.rowId + "'><div class='ui-pg-div' title='@T("System_Text_ViewDetails")'><span class='fa fa-search-plus'></span></div></a>";
                        var deleteIcon = "<a class='grid-action' href='@Url.Action("Details")/" + options.rowId + "?action=delete'><div class='ui-pg-div'title='@T("System_Text_Delete")'><span class='fa fa-times red'></span></div></a>";
                        var markAsDefaultIcon = "<a class='grid-action mark-as-default' href='javascript:markAsDefault(" + options.rowId + ")'><div class='ui-pg-div' title='Mark As Default Account'><span class='fa fa-check-square-o'></span></div></a>";

                        if (rowObject.IsDefault) {
                            markAsDefaultIcon = '';
                        }

                        return editIcon + detailsIcon + deleteIcon + markAsDefaultIcon;
                    }
                },
                { name: 'Id', index: 'Id', key: true, width: 60, fixed: true, align: 'center', sorttype: "int", searchoptions: { sopt: ['eq'] } },
                { name: 'Email', index: 'Email' },
                { name: 'DisplayName', index: 'DisplayName' },
                {
                    name: 'IsDefault',
                    index: 'IsDefault',
                    align: 'center',
                    search: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return jqGridHelper.styleLabel(cellvalue, true, "<i class='fa fa-check'></i>", "");
                    }
                },
                {
                    name: 'Active',
                    index: 'Active',
                    align: "center",
                    hidden: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return jqGridHelper.styleLabel(cellvalue, true, "<i class='fa fa-check'></i>", "");
                    }
                },
                { name: 'RecordOrder', index: 'Order', width: 70, fixed: true, align: "center", sorttype: "int", searchoptions: { sopt: ['eq'] }, hidden: true },
                { name: 'Created', index: 'Created', hidden: true, sorttype: "datetime", search: false, formatter: function (cellValue, options, rowObject) { return jqGridHelper.printLocalDateTimeFormat(cellValue); } },
                { name: 'CreatedBy', index: 'CreatedBy', hidden: true },
                { name: 'LastUpdate', index: 'LastUpdate', sorttype: "datetime", search: false, formatter: function (cellValue, options, rowObject) { return jqGridHelper.printLocalDateTimeFormat(cellValue); } },
                { name: 'LastUpdateBy', index: 'LastUpdateBy' }
            ]
        };

        jqGridHelper.setupGrid(gridSelector, pagerSelector, gridOptions, gridSettings, navButtonsSetup, "@Url.Action("Exports")");
    </script>
}
