@model EzCMS.Core.Models.Associates.AssociateDetailModel

@{
    ViewBag.Header = T("Associate_Site_Header");
    ViewBag.Title = T("Associate_Site_DetailsTitle");
    ViewBag.Description = T("Associate_Site_DetailsDescription");
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/jqGrid/css/ui.jqgrid.min.css")" />
}

<div class="page-header">
    <h1 class="pull-left">
        @ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title
        </small>
    </h1>
    <div class="space-8 col-xs-12 visible-xs"></div>
    <div id="top-buttons" class="col-xs-12 align-right">
        <a class="btn btn-xs btn-danger" href="javascript:deleteAssociate()">@T("System_Text_Delete")</a>
        <a class="btn btn-xs btn-primary" href="@Url.Action("Edit", new { id = Model.Id, returnUrl = Url.Action("Details", new { id = Model.Id }) })">@T("System_Text_Edit")</a>
    </div>
</div>

<div class="row">
    @ShowStatusMessage()
    <div class="col-xs-12">
        <div class="form-horizontal">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.Associate.Title, new { @class = "col-sm-5 control-label" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.Associate.Title)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.Associate.FirstName, new { @class = "col-sm-5 control-label" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.Associate.FirstName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.Associate.LastName, new { @class = "col-sm-5 control-label" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.Associate.LastName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.Associate.Email, new { @class = "col-sm-5 control-label" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.Associate.Email, CommonEnums.EditableType.Email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.Associate.Gender, new { @class = "col-sm-5 control-label" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableSelectFor(m => m.Associate.Gender, Url.Action("GetGenders", "Home"))
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.Associate.IsNew, new { @class = "col-sm-5 control-label" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.Associate.IsNew, CommonEnums.EditableType.Boolean)
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.Associate.Photo, new { @class = "col-sm-5 control-label" })
                    <div class="col-sm-7 control-value">
                        @Html.Image(Model.Associate.Photo, string.Empty, new { @class = "img-responsive" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.Associate.JobTitle, new { @class = "col-sm-5 control-label" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.Associate.JobTitle)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.Associate.Company, new { @class = "col-sm-5 control-label" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableSelectFor(m => m.Associate.Company, Url.Action("SearchCompanies", "Companies"))
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelTimeFor(m => m.Associate.DateStart, new { @class = "col-sm-5 control-label" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.Associate.DateStart, CommonEnums.EditableType.Date)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelTimeFor(m => m.Associate.DateEnd, new { @class = "col-sm-5 control-label" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.Associate.DateEnd, CommonEnums.EditableType.Date)
                    </div>
                </div>
            </div>
            <div class="clear space-12"></div>
            <div class="widget-box transparent collapsed">
                <div class="widget-header">
                    <h4 class="widget-title lighter">@T("Associate_Text_AddressInformation")</h4>
                    <div class="widget-toolbar no-border">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-12 no-padding-left no-padding-right">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.AddressLine1, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.AddressLine1)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.AddressLine2, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.AddressLine2)
                                    @Html.HelpTextFor(m => m.Associate.AddressLine2, new { @class = "help-button" })
                                    @Html.ValidationMessageFor(m => m.Associate.AddressLine2)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.Suburb, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.Suburb)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.State, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableSelectFor(m => m.Associate.State, Url.Action("GetAustraliaStates", "Home"))
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.Postcode, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.Postcode)
                                    @Html.HelpTextFor(m => m.Associate.Postcode, new { @class = "help-button" })
                                    @Html.ValidationMessageFor(m => m.Associate.Postcode)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.Country, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableSelectFor(m => m.Associate.Country, Url.Action("GetCountries", "Countries"), true)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear space-12"></div>
            <div class="widget-box transparent collapsed">
                <div class="widget-header">
                    <h4 class="widget-title lighter">@T("Associate_Text_ContactInformation")</h4>
                    <div class="widget-toolbar no-border">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-12 no-padding-left no-padding-right">

                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.PhoneWork, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.PhoneWork)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.PhoneHome, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.PhoneHome)
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.Fax, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.Fax)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.MobilePhone, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.MobilePhone)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear space-12"></div>
            <div class="widget-box transparent collapsed">
                <div class="widget-header">
                    <h4 class="widget-title lighter">@T("Associate_Text_OtherInformation")</h4>
                    <div class="widget-toolbar no-border">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-12 no-padding-left no-padding-right">

                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.University, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.University, CommonEnums.EditableType.TextArea)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.Qualification, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.Qualification, CommonEnums.EditableType.TextArea)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.OtherQualification, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.OtherQualification, CommonEnums.EditableType.TextArea)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.Achievements, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.Achievements, CommonEnums.EditableType.TextArea)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.Memberships, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.Memberships, CommonEnums.EditableType.TextArea)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.Appointments, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.Appointments, CommonEnums.EditableType.TextArea)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.PersonalInterests, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.PersonalInterests, CommonEnums.EditableType.TextArea)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.ProfessionalInterests, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.PersonalInterests, CommonEnums.EditableType.TextArea)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.Associate.Positions, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-7 control-value">
                                    @Html.EditableFor(m => m.Associate.Positions, CommonEnums.EditableType.TextArea)
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clear space-12"></div>

            <div class="widget-box transparent collapsed">
                <div class="widget-header">
                    <h4 class="widget-title lighter">@T("Associate_Text_RecordInformation")</h4>
                    <div class="widget-toolbar no-border">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-12 no-padding-left no-padding-right">

                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelTimeFor(m => m.Created, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayTimeFor(m => m.Created)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.CreatedBy, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Model.CreatedBy
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelTimeFor(m => m.LastUpdate, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayTimeFor(m => m.LastUpdate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.LastUpdateBy, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Model.LastUpdateBy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="space-12 clear"></div>
            <div class="row">
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-12 tab-color-blue background-grey">
                        <li class="active">
                            <a data-toggle="tab" href="#associate-types">
                                @T("Associate_Text_TabAssociateTypes") (<span id="tab-associate-type" class="tab-button"></span>)
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#locations">
                                @T("Associate_Text_TabLocations") (<span id="tab-location" class="tab-button"></span>)
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#company-types">
                                @T("Associate_Text_TabCompanyTypes") (<span id="tab-company-type" class="tab-button"></span>)
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="associate-types" class="tab-pane active">
                            @Html.Partial("Details/_AssociateTypes", Model.Id)
                        </div>
                        <div id="locations" class="tab-pane">
                            @Html.Partial("Details/_Locations", Model.Id)
                        </div>
                        <div id="company-types" class="tab-pane">
                            @Html.Partial("Details/_CompanyTypes", Model.Id)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/js/jqgrid")

    <script type="text/javascript">
        var updateUrl = "@Url.Action("UpdateAssociateData")";
        var pk = '@Model.Id';

        $(function () {
            if (siteHelper.getUrlParam("action") == "delete") {
                deleteAssociate();
            }
        });

        // Delete associate
        function deleteAssociate() {
            var returnUrl = siteHelper.getUrlParam("returnUrl");
            var data = { id: @Model.Id };
            
            siteHelper.confirm('@T("Associate_Message_DeleteConfirm")', function (ok) {
                if (ok) {
                    siteHelper.httpPost({
                        url: "@Url.Action("DeleteAssociate")",
                        data: data,
                        success: function (response) {
                            if (response.Success) {
                                bootbox.alert(response.Message, function () {
                                    if (returnUrl != "")
                                        window.location.href = returnUrl;
                                    else
                                        window.location.href = "@Url.Action("Index")";
                                });
                            } else {
                                siteHelper.showMessage(response);
                            }
                        }
                    });
                }
            });
        }
    </script>
}
