@model EzCMS.Core.Models.Pages.WidgetManageModels.MemberWidgetManageModel

<div class="form-group">
    @Html.LocalizeLabelFor(m => m.PageId, new { @class = "col-xs-12" })
    <div class="col-xs-12">
        @Html.DropDownListFor(m => m.PageId, Model.Pages, T("Widget_Links_Text_SelectPageToRender"), new { @class = "col-xs-10 single-select curly-bracket-parameter" })
        @Html.HelpTextFor(m => m.PageId, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.PageId)
    </div>
</div>
<div class="form-group">
    @Html.LocalizeLabelFor(m => m.Template, new { @class = "col-xs-12" })
    <div class="col-xs-12">
        @Html.DropDownListFor(m => m.Template, Model.Templates, new { @class = "col-xs-10 single-select curly-bracket-parameter" })
        @Html.HelpTextFor(m => m.Template, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.Template)
    </div>
</div>