@model EzCMS.Core.Models.ClientNavigations.WidgetManageModels.NavigationsWidgetManageModel

<div class="form-group">
    @Html.LocalizeLabelFor(m => m.ParentId, new { @class = "col-xs-12" })
    <div class="col-xs-12">
        @Html.DropDownListFor(m => m.ParentId, Model.Parents, T("Widget_Navigations_Text_SelectRoot"), new { @class = "col-xs-10 single-select curly-bracket-parameter" })
        @Html.HelpTextFor(m => m.ParentId, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.ParentId)
    </div>
</div>
<div class="form-group">
    @Html.LocalizeLabelFor(m => m.ShowParentNavigation, new { @class = "col-xs-12" })
    <div class="col-xs-12">
        @Html.AceCheckBoxFor(m => m.ShowParentNavigation, false, new { @class = "curly-bracket-parameter" })
        @Html.HelpTextFor(m => m.ShowParentNavigation, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.ShowParentNavigation)
    </div>
</div>
<div class="form-group">
    @Html.LocalizeLabelFor(m => m.Template, new { @class = "col-xs-12" })
    <div class="col-xs-12">
        @Html.DropDownListFor(m => m.Template, Model.Templates, new { @class = "col-xs-10 single-select curly-bracket-parameter" })
        @Html.HelpTextFor(m => m.Template, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.Template)
    </div>
</div>