@model EzCMS.Core.Models.News.WidgetManageModels.NewsWidgetManageModel

<div class="form-group">
    @Html.LocalizeLabelFor(m => m.NewsId, new { @class = "col-xs-12" })
    <div class="col-xs-12">
        @Html.DropDownListFor(m => m.NewsId, Model.NewsList, T("Widget_News_Text_SelectNews"), new { @class = "col-xs-10 single-select curly-bracket-parameter" })
        @Html.HelpTextFor(m => m.NewsId, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.NewsId)
    </div>
</div>
<div class="form-group">
    @Html.LocalizeLabelFor(m => m.Template, new { @class = "col-xs-12" })
    <div class="col-xs-12">
        @Html.DropDownListFor(m => m.Template, Model.Templates, new { @class = "col-xs-10 single-select curly-bracket-parameter" })
        @Html.HelpTextFor(m => m.Template, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.Template)
    </div>
</div>