@model EzCMS.Core.Models.LinkTrackerClicks.LinkTrackerClickDetailModel

@{
    ViewBag.Header = T("LinkTrackerClick_Site_Header");
    ViewBag.Title = T("LinkTrackerClick_Site_DetailsTitle");
    ViewBag.Description = T("LinkTrackerClick_Site_DetailsDescription");
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/jqGrid/css/ui.jqgrid.min.css")" />
}

<div class="page-header">
    <h1 class="pull-left">
        @ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title
        </small>
    </h1>
    <div class="space-8 col-xs-12 visible-xs"></div>
    <div id="top-buttons" class="col-xs-12 align-right">
        <a class="btn btn-xs btn-danger" href="javascript:deleteLinkTrackerClick()">@T("System_Text_Delete")</a>
    </div>
</div>

<div class="row">
    @ShowStatusMessage()
    <div class="col-xs-12">
        <div class="form-horizontal">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.LinkTrackerName, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        <a href="@Url.Action("Details", "LinkTrackers", new { id = Model.LinkTrackerId })">
                            <i class="fa fa-search-plus"></i>
                            @Model.LinkTrackerName
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.IpAddress, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.DisplayFor(m => m.IpAddress)
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.Platform, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.DisplayFor(m => m.Platform)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.OsVersion, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.DisplayFor(m => m.OsVersion)
                    </div>
                </div>
            </div>
            <div class="clear space-12"></div>

            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4 class="widget-title lighter">@T("LinkTrackerClick_Text_BrowserInformation")</h4>
                    <div class="widget-toolbar no-border">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-12 no-padding-left no-padding-right">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.BrowserName, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayFor(m => m.BrowserName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.BrowserType, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayFor(m => m.BrowserType)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.BrowserVersion, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayFor(m => m.BrowserVersion)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.MajorVersion, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayFor(m => m.MajorVersion)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.MinorVersion, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayFor(m => m.MinorVersion)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.IsBeta, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @YesNoString(Model.IsBeta)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.IsCrawler, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @YesNoString(Model.IsCrawler)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.IsAOL, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @YesNoString(Model.IsAOL)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.IsWin16, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @YesNoString(Model.IsWin16)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.IsWin32, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @YesNoString(Model.IsWin32)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.SupportsFrames, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @YesNoString(Model.SupportsFrames)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.SupportsTables, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @YesNoString(Model.SupportsTables)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.SupportsCookies, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @YesNoString(Model.SupportsCookies)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.SupportsVBScript, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @YesNoString(Model.SupportsVBScript)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.SupportsJavaScript, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayFor(m => m.SupportsJavaScript)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.JavaScriptVersion, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayFor(m => m.JavaScriptVersion)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.SupportsJavaApplets, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @YesNoString(Model.SupportsJavaApplets)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.SupportsActiveXControls, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @YesNoString(Model.SupportsActiveXControls)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.RawAgentString, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayFor(m => m.RawAgentString)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear space-12"></div>
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4 class="widget-title lighter">@T("LinkTrackerClick_Text_RecordInformation")</h4>
                    <div class="widget-toolbar no-border">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-12 no-padding-left no-padding-right">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelTimeFor(m => m.Created, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayTimeFor(m => m.Created)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.CreatedBy, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Model.CreatedBy
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelTimeFor(m => m.LastUpdate, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayTimeFor(m => m.LastUpdate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.LastUpdateBy, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Model.LastUpdateBy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/js/jqgrid")

    <script type="text/javascript">
        $(function () {
            if (siteHelper.getUrlParam("action") == "delete") {
                deleteLinkTrackerClick();
            }
        });

        // Delete link tracker click
        function deleteLinkTrackerClick() {
            var returnUrl = siteHelper.getUrlParam("returnUrl");
            var data = { id: @Model.Id };
            
            siteHelper.confirm('@T("LinkTrackerClick_Message_DeleteConfirm")', function (ok) {
                if (ok) {
                    siteHelper.httpPost({
                        url: "@Url.Action("DeleteLinkTrackerClick")",
                        data: data,
                        success: function (response) {
                            if (response.Success) {
                                bootbox.alert(response.Message, function () {
                                    if (returnUrl != "")
                                        window.location.href = returnUrl;
                                    else
                                        window.location.href = "@Url.Action("Index")";
                                });
                            } else {
                                siteHelper.showMessage(response);
                            }
                        }
                    });
                }
            });
        }
    </script>
}
