@model EzCMS.Core.Models.BodyTemplates.BodyTemplateDetailModel

@{
    ViewBag.Header = T("BodyTemplate_Site_Header");
    ViewBag.Title = T("BodyTemplate_Site_DetailsTitle");
    ViewBag.Description = T("BodyTemplate_Site_DetailsDescription");
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/jqGrid/css/ui.jqgrid.min.css")" />
}

<div class="page-header">
    <h1 class="pull-left">
        @ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title
        </small>
    </h1>
    <div class="space-8 col-xs-12 visible-xs"></div>
    <div id="top-buttons" class="col-xs-12 align-right">
        <a class="btn btn-xs btn-danger" href="javascript:deleteBodyTemplate()">@T("System_Text_Delete")</a>
        <a class="btn btn-xs btn-primary" href="@Url.Action("Edit", new {id = Model.Id, returnUrl = Url.Action("Details", new {id = Model.Id})})">@Html.Raw(T("System_Text_Edit"))</a>
    </div>
</div>

<div class="row">
    @ShowStatusMessage()
    <div class="col-xs-12">
        <div class="form-horizontal">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.BodyTemplate.Name, new { @class = "col-sm-4 control-label align-right" })
                    <div class="col-sm-8 control-value">
                        @Html.EditableFor(m => m.BodyTemplate.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.BodyTemplate.Description, new { @class = "col-sm-4 control-label align-right" })
                    <div class="col-sm-8 control-value">
                        @Html.EditableFor(m => m.BodyTemplate.Description, CommonEnums.EditableType.TextArea)
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.BodyTemplate.ImageUrl, new { @class = "col-sm-4 control-label align-right" })
                    <div class="col-sm-8 control-value">
                        @Html.Image(Model.BodyTemplate.ImageUrl, Model.BodyTemplate.Name, new { @class = "img-responsive" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.BodyTemplate.Content, new { @class = "col-sm-2 control-label align-right" })
                    <div class="col-sm-10 control-value">
                        <a href="#content" id="preview-content"><i class="fa fa-search"></i> @T("BodyTemplate_Text_ViewContentTitle") </a>
                    </div>
                </div>
            </div>
            <div class="clear space-12"></div>

            <div class="widget-box transparent collapsed">
                <div class="widget-header">
                    <h4 class="widget-title lighter">@T("BodyTemplate_Text_RecordInformation")</h4>
                    <div class="widget-toolbar no-border">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-12 no-padding-left no-padding-right">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelTimeFor(m => m.Created, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayTimeFor(m => m.Created)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.CreatedBy, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Model.CreatedBy
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelTimeFor(m => m.LastUpdate, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayTimeFor(m => m.LastUpdate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.LastUpdateBy, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Model.LastUpdateBy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-12 clear"></div>
            <div class="row">
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-12 tab-color-blue background-grey">
                        <li class="active">
                            <a data-toggle="tab" href="#pages">
                                @T("BodyTemplate_Text_TabPages") (<span class="tab-button"></span>)
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="pages" class="tab-pane active">
                            @Html.Partial("Details/_Pages", Model.Id)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none; height: 100%" id="content">
    @Html.Partial("_Preview", Model.ContentPreviewModel)
</div>

@section scripts
{
    @Scripts.Render("~/js/jqgrid")

    <script type="text/javascript">
        var updateUrl = "@Url.Action("UpdateBodyTemplateData")";
        var pk = '@Model.Id';

        $(function () {
            if (siteHelper.getUrlParam("action") == "delete") {
                deleteBodyTemplate();
            }
            
            $("#preview-content").fancybox({
                autoSize: false,
                width: '90%',
                height: '80%'
            });
        });

        // Delete body template
        function deleteBodyTemplate() {
            var data = { id: @Model.Id };
            
            siteHelper.confirm('@T("BodyTemplate_Message_DeleteConfirm")', function (ok) {
                if (ok) {
                    siteHelper.httpPost({
                        url: "@Url.Action("DeleteBodyTemplate")",
                        data: data,
                        success: function (response) {
                            if (response.Success) {
                                bootbox.alert(response.Message, function () {
                                    window.location.href = "@Url.Action("Index")";
                                });
                            } else {
                                siteHelper.showMessage(response);
                            }
                        }
                    });
                }
            });
        }
    </script>
}
