<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="fa fa-lock blue"></i>
                            <span class="red">Login</span>
                            <span class="light-blue">Page</span>
                        </h1>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        @ShowStatusMessage()
                        <div id="reset-box" class="visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header red lighter bigger">
                                        <i class="fa fa-key"></i>
                                        Reset Password
                                    </h4>
                                    <div class="space-6"></div>
                                    @if (Model.IsValidCode)
                                    {
                                        <p>
                                            Enter new password
                                        </p>
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "New password" })
                                                    <i class="ace-icon fa fa-lock"></i>
                                                </span>
                                                @Html.ValidationMessageFor(m => m.Password)
                                            </label>

                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "New password again" })
                                                    <i class="ace-icon fa fa-retweet"></i>
                                                </span>
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                            </label>

                                            <div class="clearfix">
                                                <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                                    <i class="ace-icon fa fa-lightbulb-o"></i>
                                                    Reset
                                                </button>
                                            </div>
                                        </fieldset>
                                    }
                                    else
                                    {
                                        <p>
                                            This link has been expired, <a href='@Url.Action("ForgotPassword")'>click here</a> to return to the forgot password page.
                                        </p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function OnResetPasswordSuccess(response) {
        if (response.Success) {
            location.href = '@Url.Action("ResetPasswordSuccess")';
        } else {
            siteHelper.showMessage(response);
        }
    }
</script>