@model EzCMS.Core.Models.Subscriptions.SubscriptionManageModel

@Html.HiddenFor(m => m.Module)
@Html.HiddenFor(m => m.Parameters)
<div class="form-group">
    @Html.LocalizeLabelFor(m => m.Email, new { @class = "col-xs-4 control-label" })
    <div class="col-xs-5">
        @Html.TextBoxFor(m => m.Email, new { @class = "col-xs-10" })
        @Html.HelpTextFor(m => m.Email, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
</div>
<div class="form-group">
    @Html.LocalizeLabelFor(m => m.Email, new { @class = "col-xs-4 control-label" })
    <div class="col-xs-5">
        @Html.TextBoxFor(m => m.Email, new { @class = "col-xs-10" })
        @Html.HelpTextFor(m => m.Email, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
</div>