@model EzCMS.Core.Models.Users.Logins.ResetPasswordModel

@{
    Layout = "~/Areas/Admin/Views/Account/_Layout.Account.cshtml";
    ViewBag.Header = T("Account_Site_Header");
    ViewBag.Title = T("Account_Site_ResetPasswordTitle");
    ViewBag.Description = T("Account_Site_ResetPasswordDescription");
}

@using (Ajax.BeginForm("ResetPassword", "Account", null, new AjaxOptions
{
    OnBegin = "siteHelper.showLoading",
    OnComplete = "siteHelper.hideLoading",
    OnSuccess = "OnResetPasswordSuccess"
}, "register-form"))
{
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.SecurityCode)

    if (!Model.EnableTemplate)
    {
        <div id="reset-box" class="visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header red lighter bigger">
                        <i class="fa fa-key"></i>
                        @T("Account_Text_ResetPasswordHeaderTitle")
                    </h4>
                    <div class="space-6"></div>
                    @if (Model.IsValidCode)
                    {
                        <p>
                            @T("Account_Text_ResetPasswordBodyTitle")
                        </p>
                        <fieldset>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = T("Account_Text_ResetPasswordNewPassword") })
                                    <i class="ace-icon fa fa-lock"></i>
                                </span>
                                @Html.ValidationMessageFor(m => m.Password)
                            </label>

                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = T("Account_Text_ResetPasswordConfirmPassword") })
                                    <i class="ace-icon fa fa-retweet"></i>
                                </span>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </label>

                            <div class="clearfix">
                                <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                    <i class="ace-icon fa fa-lightbulb-o"></i>
                                    @T("Account_Text_ResetPasswordResetButton")
                                </button>
                            </div>
                        </fieldset>
                    }
                    else
                    {
                        <p>
                            @Html.Raw(TFormat("Account_Text_ResetPasswordExpiredMessage", Url.Action("ForgotPassword")))
                        </p>
                    }
                </div>
            </div>
        </div>

        @section scripts
{
            <script>
                function OnResetPasswordSuccess(response) {
                    if (response.Success) {
                        location.href = '@Url.Action("ResetPasswordSuccess")';
                    } else {
                        siteHelper.showMessage(response);
                    }
                }
            </script>
        }
    }
    else
    {
        @RenderTemplate(Model.TemplateName, Model.Template, Model)
    }
}