@model EzCMS.Core.Models.EmailAccounts.EmailAccountDetailModel

@{
    ViewBag.Header = T("EmailAccount_Site_Header");
    ViewBag.Title = T("EmailAccount_Site_DetailsTitle");
    ViewBag.Description = T("EmailAccount_Site_DetailsDescription");
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/jqGrid/css/ui.jqgrid.min.css")" />
}

<div class="page-header">
    <h1 class="pull-left">
        @ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title
        </small>
    </h1>
    <div class="space-8 col-xs-12 visible-xs"></div>
    <div id="top-buttons" class="col-xs-12 align-right">
        <a class="btn btn-xs btn-danger" href="javascript:deleteEmailAccount()">@T("System_Text_Delete")</a>
        <a class="btn btn-xs btn-primary" href="@Url.Action("Edit", new {id = Model.Id, returnUrl = Url.Action("Details", new {id = Model.Id})})">
            @T("System_Text_Edit")
        </a>
    </div>
</div>

<div class="row">
    @ShowStatusMessage()
    <div class="col-xs-12">
        <div class="form-horizontal">
            <div class="col-xs-12">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        @Html.LocalizeLabelFor(m => m.EmailAccount.Email, new { @class = "col-sm-5 control-label align-right" })
                        <div class="col-sm-7 control-value">
                            @Html.EditableFor(m => m.EmailAccount.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LocalizeLabelFor(m => m.EmailAccount.DisplayName, new { @class = "col-sm-5 control-label align-right" })
                        <div class="col-sm-7 control-value">
                            @Html.EditableFor(m => m.EmailAccount.DisplayName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LocalizeLabelFor(m => m.EmailAccount.Host, new { @class = "col-sm-5 control-label align-right" })
                        <div class="col-sm-7 control-value">
                            @Html.EditableFor(m => m.EmailAccount.Host)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LocalizeLabelFor(m => m.EmailAccount.Port, new { @class = "col-sm-5 control-label align-right" })
                        <div class="col-sm-7 control-value">
                            @Html.EditableFor(m => m.EmailAccount.Port, CommonEnums.EditableType.Number)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LocalizeLabelFor(m => m.EmailAccount.Username, new { @class = "col-sm-5 control-label align-right" })
                        <div class="col-sm-7 control-value">
                            @Html.EditableFor(m => m.EmailAccount.Username)
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        @Html.LocalizeLabelFor(m => m.EmailAccount.EnableSsl, new { @class = "col-sm-5 control-label align-right" })
                        <div class="col-sm-7 control-value">
                            @Html.EditableFor(m => m.EmailAccount.EnableSsl, CommonEnums.EditableType.Boolean)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LocalizeLabelFor(m => m.EmailAccount.UseDefaultCredentials, new { @class = "col-sm-5 control-label align-right" })
                        <div class="col-sm-7 control-value">
                            @Html.EditableFor(m => m.EmailAccount.UseDefaultCredentials, CommonEnums.EditableType.Boolean)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LocalizeLabelFor(m => m.EmailAccount.Timeout, new { @class = "col-sm-5 control-label align-right" })
                        <div class="col-sm-7 control-value">
                            @Html.EditableFor(m => m.EmailAccount.Timeout, CommonEnums.EditableType.Number)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LocalizeLabelFor(m => m.EmailAccount.IsDefault, new { @class = "col-sm-5 control-label align-right" })
                        <div class="col-sm-7 control-value">
                            @Html.EditableFor(m => m.EmailAccount.IsDefault, CommonEnums.EditableType.Boolean)
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear space-12"></div>
            <div class="widget-box transparent collapsed">
                <div class="widget-header">
                    <h4 class="widget-title lighter">@T("EmailAccount_Text_RecordInformation")</h4>
                    <div class="widget-toolbar no-border">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-12 no-padding-left no-padding-right">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelTimeFor(m => m.Created, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayTimeFor(m => m.Created)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.CreatedBy, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Model.CreatedBy
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelTimeFor(m => m.LastUpdate, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayTimeFor(m => m.LastUpdate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.LastUpdateBy, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Model.LastUpdateBy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-12 clear"></div>
            <div class="row">
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-12 tab-color-blue background-grey">
                        <li class="active">
                            <a data-toggle="tab" href="#emailLogs">
                                @T("EmailAccount_Text_TabEmailLogs") (<span id="tab-email-queue" class="tab-button"></span>)
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="emailLogs" class="tab-pane active">
                            @Html.Partial("Details/_EmailLogs", Model.Id)
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/js/jqgrid")

    <script type="text/javascript">
        var updateUrl = "@Url.Action("UpdateEmailAccountData")";
        var pk = '@Model.Id';

        $(function () {
            if (siteHelper.getUrlParam("action") == "delete") {
                deleteEmailAccount();
            }
        });

        // Delete email account
        function deleteEmailAccount() {
            var data = { id: @Model.Id };

            siteHelper.confirm('@T("EmailAccount_Message_DeleteConfirm")', function (ok) {
                if (ok) {
                    siteHelper.httpPost({
                        url: "@Url.Action("DeleteEmailAccount")",
                        data: data,
                        success: function (response) {
                            if (response.Success) {
                                bootbox.alert(response.Message, function () {
                                    window.location.href = "@Url.Action("Index")";
                                });
                            } else {
                                siteHelper.showMessage(response);
                            }
                        }
                    });
                }
            });
        }
    </script>
}
