@{
    ViewBag.Header = T("PageTemplate_Site_Header");
    ViewBag.Title = T("PageTemplate_Site_ListingTitle");
    ViewBag.Description = T("PageTemplate_Site_ListingDescription");
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/jqGrid/css/ui.jqgrid.min.css")" />
}

<div class="page-header">
    <h1>
        @ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title
        </small>
    </h1>
</div>

<div class="row">
    <div id="grid-buttons" class="col-xs-12">
        @ShowStatusMessage()
        <a href="@Url.Action("Create")" class="btn btn-yellow btn-minier">
            <i class="fa fa-plus bigger-125"></i>
            @T("PageTemplate_Text_Create")
        </a>
        @Html.EmptyPartial("Partials/_ExportButtons")
    </div>
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <table id="grid-table"></table>

        <div id="grid-pager"></div>

        <!-- PAGE CONTENT ENDS -->
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/js/jqgrid")

    <script type="text/javascript">

        /*
         * Setup grid
         */
        var gridSelector = "#grid-table";
        var pagerSelector = "#grid-pager";
        var navButtonsSetup = {
            enableEdit: false,
            enableCreate: false,
            enableDelete: false,
            enableSearch: true,
            enableRefresh: true,
            enableView: true
        };
        var gridSettings = $.parseJSON('@Html.Action("GetGridSettings", "Account", new { name = "Page WidgetTemplate" })');

        var gridOptions = {
            url: "@Url.Action("_AjaxBinding")",
            colNames: ['', '@T("PageTemplate_Field_Id")',
                '@T("PageTemplate_Field_Name")',
                '@T("PageTemplate_Field_ParentName")',
                '@T("PageTemplate_Field_IsDefaultTemplate")',
                '@T("PageTemplate_Field_IsValid")',
                '@T("PageTemplate_Field_CompileMessage")',
                '@LabelForTime(T("PageTemplate_Field_Created"))',
                '@T("PageTemplate_Field_CreatedBy")',
                '@LabelForTime(T("PageTemplate_Field_LastUpdate"))',
                '@T("PageTemplate_Field_LastUpdateBy")'
            ],
            colModel: [
                {
                    name: 'Actions',
                    hidedlg: true,
                    width: 120,
                    fixed: true,
                    sortable: false,
                    search: false,
                    align: "center",
                    formatter: function(cellvalue, options, rowObject) {
                        var editIcon = "<a class='grid-action' href='@Url.Action("Edit")/" + options.rowId + "'><div class='ui-pg-div' title='@T("System_Text_Edit")'><span class='fa fa-edit'></span></div></a>";
                        var detailsIcon = "<a class='grid-action' href='@Url.Action("Details")/" + options.rowId + "'><div class='ui-pg-div' title='@T("System_Text_ViewDetails")'><span class='fa fa-search-plus'></span></div></a>";
                        var deleteIcon = "<a class='grid-action' href='@Url.Action("Details")/" + options.rowId + "?action=delete'><div class='ui-pg-div'title='@T("System_Text_Delete")'><span class='fa fa-times red'></span></div></a>";
                        var logIcon = "<a class='grid-action' href='@Url.Action("Logs")/" + options.rowId + "'><div class='ui-pg-div' title='@T("PageTemplate_Text_ViewLogs")'><span class='fa fa-book'></span></div></a>";

                        if (rowObject.IsDefaultPageTemplate) {
                            deleteIcon = "<a class='grid-action' href='javascript:void(0)'><div class='ui-pg-div' title='@T("PageTemplate_Text_DeleteDefaultTemplateDisabled")'><span class='fa fa-times grey'></span></div></a>";
                        }

                        return editIcon + detailsIcon + deleteIcon + logIcon;
                    }
                },
                { name: 'Id', index: 'Id', key: true, width: 60, fixed: true, align: 'center', sorttype: "int", searchoptions: { sopt: ['eq'] } },
                { name: 'Name', index: 'Name' },
                {
                    name: 'ParentName',
                    index: 'ParentName',
                    formatter: function(cellvalue, options, rowObject) {
                        if (rowObject.ParentId != null) {
                            return jqGridHelper.formatLink('@Url.EmtpyRouteUrl("Details", "PageTemplates")/' + rowObject.ParentId, cellvalue, cellvalue, true);
                        }
                        return "";
                    }
                },
                {
                    name: 'IsDefaultTemplate',
                    index: 'IsDefaultTemplate',
                    search: false,
                    align: "center",
                    formatter: function(cellvalue, options, rowObject) {
                        return jqGridHelper.styleLabel(cellvalue, true, "<i class='fa fa-check'></i>", "");
                    }
                },
                {
                    name: 'IsValid',
                    index: 'IsValid',
                    search: false,
                    align: "center",
                    formatter: function(cellvalue, options, rowObject) {
                        return jqGridHelper.styleLabel(cellvalue, true, "<i class='fa fa-check'></i>", "<i class='fa fa-times'></i>", "", "label-danger");
                    }
                },
                { name: 'CompileMessage', index: 'CompileMessage', hidden: true },
                { name: 'Created', index: 'Created', hidden: true, sorttype: "datetime", search: false, formatter: function(cellValue, options, rowObject) { return jqGridHelper.printLocalDateTimeFormat(cellValue); } },
                { name: 'CreatedBy', index: 'CreatedBy', hidden: true },
                { name: 'LastUpdate', index: 'LastUpdate', sorttype: "datetime", search: false, formatter: function(cellValue, options, rowObject) { return jqGridHelper.printLocalDateTimeFormat(cellValue); } },
                { name: 'LastUpdateBy', index: 'LastUpdateBy' }
            ]
        };

        jqGridHelper.setupGrid(gridSelector, pagerSelector, gridOptions, gridSettings, navButtonsSetup, "@Url.Action("Exports")");
    </script>
}
