@model EzCMS.Core.Models.Widgets.WidgetSearchModel
<div class="widget-box">
    <div class="widget-header">
        <h5>@T("Widget_Search_Header")</h5>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div class="form-group col-sm-8">
                @Html.TextBoxFor(m => m.Keyword, new { id = "Keyword", @class = "col-xs-10 search-input", placeholder = T("Widget_Search_Keyword") })
                @Html.HelpTextFor(m => m.Keyword, new { @class = "help-button" })
            </div>
            <div class="form-group col-sm-4">
                <button id="btnSearch" class="btn btn-sm btn-info">@T("System_Search_Button")</button>
                <button id="btnClearSearch" class="btn btn-sm btn-default">@T("System_Search_ClearButton")</button>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
