@model EzCMS.Core.Models.Users.Logins.ChangePasswordAfterLoginModel

@{
    Layout = "~/Areas/Admin/Views/Account/_Layout.Account.cshtml";
    ViewBag.Header = T("Account_Site_Header");
    ViewBag.Title = T("Account_Site_ChangePasswordTitle");
    ViewBag.Description = T("Account_Site_ChangePasswordDescription");
}

@using (Ajax.BeginForm("ChangePasswordAfterLogin", new AjaxOptions
{
    OnBegin = "siteHelper.showLoading",
    OnComplete = "siteHelper.hideLoading",
    OnSuccess = "OnChangePasswordSuccess"
}))
{
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.ReturnUrl)

    if (!Model.EnableTemplate)
    {
        <div id="reset-box" class="visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header red lighter bigger">
                        <i class="fa fa-key"></i>
                        @T("Account_Text_ChangePasswordAfterLoginChangePassword")
                    </h4>
                    <div class="space-6"></div>
                    <p>
                        @T("Account_Text_ChangePasswordAfterLoginExpiredPassword")
                    </p>

                    <fieldset>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = T("Account_Text_ChangePasswordAfterLoginNewPassword") })
                                <i class="ace-icon fa fa-lock"></i>
                            </span>
                            @Html.ValidationMessageFor(m => m.Password)
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = T("Account_Text_ChangePasswordAfterLoginConfirmNewPassword") })
                                <i class="ace-icon fa fa-lock"></i>
                            </span>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </label>

                        <div class="clearfix">
                            <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                <i class="fa fa-lightbulb-o"></i>
                                @T("Account_Text_ChangePasswordAfterLoginChangePasswordButton")
                            </button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    
        @section scripts
        {
            <script type="text/javascript">
                function OnChangePasswordSuccess(response) {
                    if (response.Success) {
                        location.href = response.Data;
                    } else {
                        siteHelper.showMessage(response);
                    }
                }
            </script>
        }
    }
    else
    {
        @RenderTemplate(Model.TemplateName, Model.Template, Model)
    }
}
