@model EzCMS.Core.Models.Locations.LocationSearchModel

<div class="widget-box">
    <div class="widget-header">
        <h5>@T("Location_Search_Header")</h5>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div class="form-group col-sm-4">
                @Html.TextBoxFor(m => m.Keyword, new { id = "Keyword", @class = "col-xs-10 search-input", placeholder = T("Location_Search_Keyword") })
                @Html.HelpTextFor(m => m.Keyword, new { @class = "help-button" })
            </div>
            <div class="form-group col-sm-5">
                @Html.ListBoxFor(m => m.LocationTypeIds, Model.LocationTypes, new { id = "LocationTypeIds", placeholder =T("Associate_Search_AllLocationTypes"), @class = "multi-select col-xs-10" })
                @Html.HelpTextFor(m => m.LocationTypeIds, new { @class = "help-button" })
            </div>
            <div class="form-group col-sm-3">
                <button id="btnSearch" class="btn btn-sm btn-info">@T("System_Search_Button")</button>
                <button id="btnClearSearch" class="btn btn-sm btn-default">@T("System_Search_ClearButton")</button>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
