@model PasswordSetting

<div class="form-group">
    @Html.LocalizeLabelFor(m => m.PasswordMinLengthRequired, new { @class = "col-md-4 control-label" })
    <div class="col-xs-5">
        @Html.TextBoxFor(m => m.PasswordMinLengthRequired, new { @class = "input-number" })
        @Html.HelpTextFor(m => m.PasswordMinLengthRequired, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.PasswordMinLengthRequired)
    </div>
</div>
<div class="form-group">
    @Html.LocalizeLabelFor(m => m.PasswordMustHaveDigit, new { @class = "col-md-4 control-label" })
    <div class="col-md-5">
        @Html.AceCheckBoxFor(m => m.PasswordMustHaveDigit)
        @Html.HelpTextFor(m => m.PasswordMustHaveDigit, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.PasswordMustHaveDigit)
    </div>
</div>
<div class="form-group">
    @Html.LocalizeLabelFor(m => m.PasswordMustHaveSymbol, new { @class = "col-md-4 control-label" })
    <div class="col-md-5">
        @Html.AceCheckBoxFor(m => m.PasswordMustHaveSymbol)
        @Html.HelpTextFor(m => m.PasswordMustHaveSymbol, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.PasswordMustHaveSymbol)
    </div>
</div>
<div class="form-group">
    @Html.LocalizeLabelFor(m => m.PasswordMustHaveUpperAndLowerCaseLetters, new { @class = "col-md-4 control-label" })
    <div class="col-md-5">
        @Html.AceCheckBoxFor(m => m.PasswordMustHaveUpperAndLowerCaseLetters)
        @Html.HelpTextFor(m => m.PasswordMustHaveUpperAndLowerCaseLetters, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.PasswordMustHaveUpperAndLowerCaseLetters)
    </div>
</div>