@if (HasNoContext("MasterNavigationRendering"))
{
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">My Blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @foreach (var node in Model)
                    {
                        if (node.Children.Any())
                        {
                            <li class="dropdown Navigation-item" data-id="@(node.Data.PageId ?? 0)" data-viewablegroups="@(string.Join(",", node.Data.ViewableGroups.Select(g => g.Id)))" data-editablegroups="@(string.Join(",", node.Data.EditableGroups.Select(g => g.Id)))">
                                <a href="@node.Data.Url" target="@node.Data.UrlTarget">
                                    @node.Data.Title
                                    @if (node.Data.ViewableGroups.Any())
                                    {
                                        <text>&nbsp;</text>
                                        <i title="@string.Join("</hr>", node.Data.ViewableGroups.Select(g => g.Name))" class="NavigationSercureGroups fa fa-eye"></i>
                                    }
                                    @if (node.Data.EditableGroups.Any())
                                    {
                                        <text>&nbsp;</text>
                                        <i title="@string.Join("</hr>", node.Data.EditableGroups.Select(g => g.Name))" class="NavigationSercureGroups fa fa-lock"></i>
                                    }
                                </a>
                                <ul class="dropdown-Navigation" role="Navigation">
                                    @RenderTemplate("Default.Navigations", node.Children)
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="Navigation-item" data-id="@(node.Data.PageId ?? 0)" data-viewablegroups="@(string.Join(",", node.Data.ViewableGroups.Select(g => g.Id)))" data-editablegroups="@(string.Join(",", node.Data.EditableGroups.Select(g => g.Id)))">
                                <a href="@node.Data.Url" target="@node.Data.UrlTarget">
                                    @node.Data.Title
                                    @if (node.Data.ViewableGroups.Any())
                                    {
                                        <text>&nbsp;</text>
                                        <i title="@string.Join("</hr>", node.Data.ViewableGroups.Select(g => g.Name))" class="NavigationSercureGroups fa fa-eye"></i>
                                    }
                                    @if (node.Data.EditableGroups.Any())
                                    {
                                        <text>&nbsp;</text>
                                        <i title="@string.Join("</hr>", node.Data.EditableGroups.Select(g => g.Name))" class="NavigationSercureGroups fa fa-lock"></i>
                                    }
                                </a>
                                <ul></ul>
                            </li>
                        }
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
}