@model EzCMS.Core.Models.NotificationTemplates.NotificationTemplateDetailModel

@{
    ViewBag.Header = T("NotificationTemplate_Site_Header");
    ViewBag.Title = T("NotificationTemplate_Site_DetailsTitle");
    ViewBag.Description = T("NotificationTemplate_Site_DetailsDescription");
}

<div class="page-header">
    <h1 class="pull-left">
        @ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title
        </small>
    </h1>
    <div class="space-8 col-xs-12 visible-xs"></div>
    <div id="top-buttons" class="col-xs-12 align-right">
        @if (!Model.NotificationTemplate.IsDefaultTemplate)
        {
            <a class="btn btn-xs btn-danger" href="javascript:deleteNotificationTemplate()">@T("System_Text_Delete")</a>
        }
        else
        {
            <a data-rel="tooltip" title="Delete disabled because this is default template" class="btn btn-xs btn-grey" href="javascript:void(0)">
                @T("System_Text_Delete")
            </a>
        }
        <a class="btn btn-xs btn-primary" href="@Url.Action("Edit", new { id = Model.Id, returnUrl = Url.Action("Details", new { id = Model.Id})})">
            @T("System_Text_Edit")
        </a>
    </div>
</div>

<div class="row">
    @ShowStatusMessage()
    <div class="col-xs-12">
        <div class="form-horizontal">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.NotificationTemplate.Name, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.NotificationTemplate.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.NotificationTemplate.Subject, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.EditableFor(m => m.NotificationTemplate.Subject)
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    @Html.LocalizeLabelFor(m => m.NotificationTemplate.Module, new { @class = "col-sm-5 control-label align-right" })
                    <div class="col-sm-7 control-value">
                        @Html.DisplayFor(m => m.NotificationTemplate.Module)
                    </div>
                </div>
            </div>

            <div class="clear space-12"></div>

            <div class="widget-box col-xs-12">
                <div class="">
                    <div class="widget-header widget-header-flat">
                        <h4 class="smaller">
                            @Html.LocalizeLabelFor(m => m.NotificationTemplate.Body, new { @class = "control-label align-right" })
                        </h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            @Html.Raw(Model.NotificationTemplate.Body)
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear space-12"></div>

            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4 class="widget-title lighter">@T("NotificationTemplate_Text_RecordInformation")</h4>
                    <div class="widget-toolbar no-border">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-12 no-padding-left no-padding-right">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelTimeFor(m => m.Created, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayTimeFor(m => m.Created)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.CreatedBy, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Model.CreatedBy
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                @Html.LocalizeLabelTimeFor(m => m.LastUpdate, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Html.DisplayTimeFor(m => m.LastUpdate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LocalizeLabelFor(m => m.LastUpdateBy, new { @class = "col-sm-5 control-label align-right" })
                                <div class="col-sm-7 control-value">
                                    @Model.LastUpdateBy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var updateUrl = "@Url.Action("UpdateNotificationTemplateData")";
        var pk = '@Model.Id';

    $(function () {
        if (siteHelper.getUrlParam("action") == "delete") {
            deleteNotificationTemplate();
        }
    });

        // Delete notification template
        function deleteNotificationTemplate() {
            var returnUrl = siteHelper.getUrlParam("returnUrl");
            var data = { id: @Model.Id };

            siteHelper.confirm('@T("NotificationTemplate_Message_DeleteConfirm")', function (ok) {
                if (ok) {
                    siteHelper.httpPost({
                        type: 'POST',
                        url: "@Url.Action("DeleteNotificationTemplate")",
                        data: data,
                        success: function (response) {
                            if (response.Success) {
                                bootbox.alert(response.Message, function () {
                                    if (returnUrl != "")
                                        window.location.href = returnUrl;
                                    else
                                        window.location.href = "@Url.Action("Index")";
                                });
                            } else {
                                siteHelper.showMessage(response);
                            }
                        }
                    });
                }
            });
        }
    </script>
}
